Oppgave 1
---------
Vi skal se på følgende snutter av kode.

In [ ]:
a = 8
b = 10
a = a - b
c = b + b
b = c + a

Her vil variablene gi følgende verdier:
a = 8
b = 10
a = 0
c = 20
b = 20
Jeg ville personlig komprimere dette til følgede:

In [ ]:
a = 8
b = 10
a = 0
b = b*2 + a

Oppgave 2
---------
a)
--
koden vil ikke fungere på linje 1 siden vi ikke etabler "tall_1" og "tall_2". En mer riktig måte vil være:

In [ ]:
tall_1 = 327
tall_2 = 169
sum = tall_1 + tall_2

b)
--
Koden vil ikke fungere siden vi har en type konflikt. sum er nå både en int og en funksjon. En rettelse vil være å forandre variabel navnet "sum" til "Sum" eller "summen".

In [ ]:
liste = [1, 2, 3, 4]
sum(liste)

Oppgave 3
---------

In [1]:
r = 5
pi = 3.14
areal = pi*r**2
print(areal)

78.5

Oppgave 4
---------

In [4]:
import turtle
lengde = 100
vinkel = 90
for turn in range(4):
    turtle.forward(lengde)
    turtle.left(vinkel)

Oppgave 5
---------

In [1]:
from turtle import *
forward(80)
left(90)
forward(80)
left(135)
forward(120)